

<p><%= @merchant.name %></P>

  <% @merchant.products.each do |product| %><% product.price_by_merchant(@merchant.id).each do |stock| %>
  <p><a href="../product/<%= product.id %>/<%= stock.price %>"><%= product.name %>
  : <%= stock.price %></a></p>
  <% end %>
  <% end %>
